body {
  min-height: 200vh;
  background-color: #000000;
  color: #CEFDFE;
}

.textAlignment {
    display: flex;
    justify-content: center; /* center horizontally */
}

.bold {
  font-weight: bold;
  font-size: 2.5vw;
}
