.Skill {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: var(--secondary-color);
    border-radius: 15%;
    padding: 3%;
    width: 115px;
    height: 110px;
    box-shadow: inset 0 0 10px var(--primary-color);
    justify-content: space-evenly;
}

.Skill-Name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.Skill-Image {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .Skill {
        border-radius: 10%;
        width: 115px;
        height: 110px;
    }
}