.Woopsie-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 10rem;
}

h1 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-align: center;
}

.Woop-subheadline {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin: 2rem 1rem 3rem 1rem;
  text-align: center;
  max-width: 800px;
  line-height: 1.6;
}

.Woop-img {
  width: 100%;
  max-width: 80vw;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.Woop-Arcade-Games {
    text-align: center;
    margin-top: 3rem;
}

.Woop-Arcade-Games-Images {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
}

.Woop-Arcade-Games-Images img {
    width: 100%;
    max-width: 50vw;
    height: auto;
    object-fit: contain;
    pointer-events: none;
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
  .Woop-img {
    max-width: 90vw;
  }
}

@media (min-width: 768px) {
    .Woop-Arcade-Games-Images img {
        max-width: 30vw;
    }
}