.pacmanAnim {
  display: flex;
  justify-content: space-between;
}

.pacman {
  width: 5em;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#000 98%,#0000) 1.7em 0.61em/.8em .8em no-repeat,  
    #ffee00;
  box-shadow: .2em -.6em 1.2em 0em inset rgba(0, 0, 0, 0.7);
  transition: transform 3s linear;
  animation: l4 .5s infinite steps(7) alternate;
  z-index: 999;
}

@keyframes move-pacman {
  0% { transform: translateX(0); }
  100% { transform: translateX(15em); }
}

@keyframes l4 {
 
  0% {
    clip-path: polygon(50% 50%,100% 0,100% 0,0 0,0 100%,100% 100%,100% 100%)
  }

  100% {
    clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)
  }
}