.pellet {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: #fb0;
  border-radius: 50%;
  z-index: 1;
}

.p1 {
  left: 5em;
  top: 2.5em;
}
.p2 {
  left: 10em;
  top: 2.5em;
}
.p3 {
  left: 15em;
  top: 2.5em;
}

.p4 {
  left: 17.5em;
  top: 5em;
}
.p5 {
  left: 17.5em;
  top: 10em;
}
.p6 {
  left: 17.5em;
  top: 15em;
}

.p7 {
  left: 15em;
  top: 17.5em;
}
.p8 {
  left: 10em;
  top: 17.5em;
}
.p9 {
  left: 5em;
  top: 17.5em;
}

.p10 {
  left: 2.5em;
  top: 15em;
}
.p11 {
  left: 2.5em;
  top: 10em;
}
.p12 {
  left: 2.5em;
  top: 5em;
}