.App-FloatingMenu {
    display: none;
}

.App-FloatingMenu.open {
    display: block;
    position: fixed;
    z-index: 9;
    width: fit-content;
    height: fit-content;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    top: 2rem;
    left: 2rem;
    padding: 2rem;
    padding-top: 5rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px var(--primary-color);
}