.App-FloatingBurger {
    position: absolute;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    top: 10px;
    left: 10px;
}

.App-FloatingMenu {
    position: absolute;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    top: 10px;
    left: 10px;
}