.BookTag {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

@media (max-width: 900px) {
  .BookTag {
    font-size: 0.8rem;
    padding: 3px 6px;
  }
}