.card {
  background-color: #CEFDFE;
  border-radius: 15%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 1rem;
  margin: 0.5rem;

  font-size: 1.5rem;
  color: #51a6a7;
  text-align: center;
  max-width: 25vw;
  max-height: 50vh;
}