@import url("../style.css");
@import url("card.css");
@import url("../Animations/pacman.css");
@import url("../Animations/pellet.css");

#titlePhrase {
    padding-top: 35vh;
    font-size: 4vw;
}

#firstPara {
    padding-top: 5vh;
    font-size: 2vw;
}