:root {
  --primary-color: #863bae;
  --secondary-color: #faf2e5;
  --secondary-color_but_darker: #847e74;
  --font-color: var(--secondary-color);
}

body {
  color: var(--font-color);
  margin: 0;
  font-family: -apple-system, 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(20, 19, 17);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}